<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Dinosaurs!</title>
    <style>
      img {
        height: 200px;
        width: 300px;
        border: 1px solid #666;
        border-radius: 1%;
      }
    </style>

    <!-- <link rel="stylesheet" href="dinoPage.css"> -->
  </head>
  <body>
    {{#dinos}}
    <h1>{{name}}</h1>
    <div class="container">
        <div class="singleDino_dino">
          <img src="{{img}}" alt="{{name}}">
          <h3>Color of {{name}}: {{color}}</h3>
          <h3>Size: {{size}}</h3>
          <h3>Enjoys living in: {{habitats}}</h3>
          <a href="/api/dinosaurs/{{id}}/edit">Edit Dinosaur</a>
          <a href="/api/dinosaurs/{{id}}/delete">Delete this Dinosaur</a>
        </div>
      {{/dinos}}
    </div>
  </body>
</html>
